* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-color: #fdfdfd;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
}

#green-terminal {
	color: #00ff00;
}

.font-header {
	font-family: 'Inconsolata', monospace;
}

.font-paragraph {
	font-family: 'Open Sans', sans-serif;
}

nav {
	font-size: 1.5em;
}


h1,h2,h3,h4,h5,h6 {
	font-family: 'Concert One', cursive;
}

#user-name {
	font-size: 5em;
	text-transform: uppercase;
}

.user-description {
	margin-top: 20px;
	margin-bottom: 1em;
	padding: 15px;
	font-size: initial;
}

.user-description p {
  text-align: center;
  vertical-align: middle;
}

.user-profile {
	padding: 0;
}

.user-picture {
	margin-top: 20px;
}

i {
	margin: 10px 20px 10px 20px;
	color: #333;
}

.post-link {
	float: left;
}

.post-date {
	float: right;
}

.post-header {
	background-color: #F5F5F5;
	overflow: hidden;
	padding: 0 5px 0 5px;
}

.post-summary, .post-content{
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #292929;
}

.post-comments {
	padding-top: 10px;
	border-top-style: solid;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -50px;
}

.footer {
	background-color: #F5F5F5;
	display: block;
	width: 100%;
	padding: 10px;
	height: 50px;
}

.push {
	height: 50px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

div p {
	text-align: justify;
}

th, td {
    padding: 3px 30px 3px 0;
}

.viking {
    color: #717009;
}

.nuvarande {
    color: #d95d0e;
}

.kommande {
    color: #076678;
}

.pausad {
    color: #928374;
}

.avslutad {
    color: #9d0006;
}

.kampanj a {
    color: #D18F21;
}

.timeline-container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.timeline-item {
  padding: 1.5em 2em 0.1em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid black;
}
.timeline-item p {
  font-size: 1em;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-weight: bold;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid black;
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, black 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, black 60%, rgba(0, 0, 0, 0)) 1 100%;
}
.timeline-item:first-child {
  -o-border-image: linear-gradient(to top, black 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to top, black 60%, rgba(0, 0, 0, 0)) 1 100%;
}

hr {
    border-width: 2px;
}


@font-face {
  font-family: legv-viet;
  src: url(../fonts/the_great_escape.ttf) format('truetype');
}

@font-face {
  font-family: legv-ww2;
  src: url(../fonts/atwriter.ttf) format('truetype');
}

.center-div
{
     margin: 0 auto;
     width: 100%; 
     text-align: center;
}
