<!DOCTYPE html>
<html>

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}
<style>
.timeline-container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}
</style>
    </head>

    <body>
        {{ partial "header.html" . }}
        <div id="timeline-content">
            <div class="timeline-container">
                {{ range $.Site.Data.missions.timeline.recap }}
                <div class="timeline-item" date-is='{{ .time }}'>
                    <h3>{{ .operation }}</h3>
		    <h4>{{ .location }}</h4>
                    <p>{{ .description }}</h3>
                    <hr />
                </div>
                {{ end }}
             </div>
        </div>
    </body>
