<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		<title> {{ .Title }} &middot; {{ .Site.Title }} </title>

		{{ partial "head.html" . }}
	</head>

	<body>
		{{ partial "header.html" . }}
		<div class="container wrapper">
			<ul id="post-list">
{{ range (.Paginator.Pages).Reverse }}
				<li>
					<div class="post-list-item">
						<div class="post-header">
							<h4 class="post-link"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
							<h4 class="post-date">{{ .Date.Format "Jan 2, 2006" }}</h4>
						</div>
						<div class="post-summary"><p>{{ .Description }}</p></div>
						<div class="post-list-footer text-center">
							<a href="{{ .Permalink }}">Läs Mer</a>
						</div>
					</div>
				</li>
			{{ end }}
			</ul>
{{ partial "pagination" . }}
			<div class="push"></div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
